@page "/login"

    <body>
        <div class="containercenter shadow-lg p-3 mb-5 bg-white rounded ">

            <div class="m-2">
                <label for="exampleInputEmail1">Usuario</label>
                <input class="form-control" id="txtUsuario">
                <small id="HelpUser" class="form-text text-muted">No des tus credenciales a nadie</small>
            </div>
            <div class="m-2">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="button" id="btnlogin" class=" btn btn-primary col-3 m-2">Login</button>


        </div>

       
    </body>

    @code {

    }
