@page "/"
@inject NavigationManager NavigationManager

<body>
    <div class="containercenter shadow-lg p-3 mb-5 bg-white rounded ">

        <div class="m-2">
            <label for="exampleInputEmail1">Usuario</label>
            <input class="form-control" id="txtUsuario" @bind-value="user">
            <small id="HelpUser" class="form-text text-muted">No des tus credenciales a nadie</small>
        </div>
        <div class="m-2">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" @bind-value="password" id="exampleInputPassword1">
        </div>
        <button type="button" id="btnlogin" @onclick="IniciarSesionAsync" class=" btn btn-primary col-3 m-2">Login</button>


        <label class="text-danger">@errorMsg</label>
        <label class="text-success">@token</label>
    </div>


</body>

@code {

    string errorMsg;
    string token;
    string user;
    string password;

    protected async Task IniciarSesionAsync()
    {
        HttpClient client = new HttpClient();
        DiscoveryDocumentResponse disco = await client.GetDiscoveryDocumentAsync("https://localhost:5001");
        if (disco.IsError)
        {
            errorMsg = disco.Error;
            return;
        }

        TokenResponse tokenResponse = await client.RequestPasswordTokenAsync(new PasswordTokenRequest
        {
            Address = disco.TokenEndpoint,
            ClientId = "api1",
            ClientSecret = "secret",

            UserName = user,
            Password = password,
            Scope = "api1"
        });

        if (tokenResponse.IsError)
        {
            errorMsg = tokenResponse.Error;
            return;
        }
        else
        {
            token = tokenResponse.Json.ToString();
            //NavigationManager.NavigateTo("/Index");
        }
    }


}
